@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  padding: 0 30px;
  background: #2b2a2a;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
.slick-slide {
  text-align: center;
  opacity: 0.4;
  margin: 50px 25px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.slick-slide.slick-center {
  position: relative;
  z-index: 10;
  opacity: 1;
  -webkit-transform: scale(140%);
          transform: scale(140%);
}
.slick-slide.slick-center img {
  height: 100%;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
.slider {
  position: relative;
  padding: 60px 60px 0;
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Точки (булиты) */
  /* Элемент точки */
}
.slider .slick-arrow {
  /* Стрелка не активная */
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("img/sl-arrow_l.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("img/sl-arrow_r.svg") 0 0/100% no-repeat;
}
.slider .slick-dots {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider .slick-dots li {
  margin: 0 10px;
  /* Активная точка */
}
.slider .slick-dots li button {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.slider .slick-dots li.slick-active button {
  background: #fff;
}
.slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #fff;
}